.footer {
  text-align: center;
  padding: 50px 0;
  background-color: var(--main-color);
  font-weight: bold;
  font-size: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  margin-top: 2rem;
}
