.header {
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 3px #818181;
}
.header .navbar {
  width: 100%;
  display: flex;
}
.header .links {
  width: 50%;
  list-style: none;
}
.header .logo {
  margin-right: auto;
  width: 175px;
}
.header .links a {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.2s;
  border-radius: 3px;
  padding: 10px 5px;
}
.header .links a:hover {
  color: var(--main-color);
}
.header .links .link {
  width: auto;
}
.navbar-collapse {
  z-index: 5;
  background-color: #fff;
}
.active {
  color: var(--main-color) !important;
  font-weight: 600;
}
.navbar-nav-scroll {
  max-height: fit-content !important;
}

.header {
  .dropdown {
    .btn:focus {
      box-shadow: none !important;
    }
  }
  .my-learning {
    &__dropdown {
      .dropdown-item:focus,
      .dropdown-item:hover,
      .dropdown-item:active {
        background-color: transparent;
        color: inherit;
      }
      .ant-progress-bg {
        background: var(--main-color);
      }
    }
    &__fig {
      width: 125px;
      border-radius: 5px;
      overflow: hidden;
      margin-inline-end: 1rem;
      margin-bottom: 0 !important;
      img {
        width: 100%;
      }
    }

    &__desc {
      h6 {
        font-size: 0.8rem;
        font-weight: 700;
      }
    }

    &__btn {
      color: white;
      background-color: var(--main-color);
      border: 0;
      &:hover {
        color: white;
        background-color: var(--main-color);
      }
    }
  }
}

@media (max-width: 768px) {
  .logo {
    margin-top: 0.8rem;
  }
  .logo img {
    width: 80% !important;
  }
}
@media (min-width: 769px) {
  .container-fluid {
    align-items: center !important;
  }
  .logo img {
    width: 100% !important;
  }
}
