:root {
  --main-color: #fc5a58;
  --main-bg: #fafafa;
  --main-border: 1px solid #e3e3e3;
  --box-shadow: rgba(var(--main-color), 90%) 1px 1px 4px;
  --green-color: #32dd88;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg) !important;
  font-family: "Cairo", sans-serif !important;
}

ul {
  list-style: none;
  display: flex;
  padding: 0 !important;
}
